.abo{
   background-image: url(bg_img.jpeg);
   background-size: 100% 100%; 
  
}
.con{
    background-image: url(bg_img.jpeg);
    background-size: 100% 100%; 
  
}
.name{
      color:aliceblue;
}
.lead{
    color:aliceblue;
}
.contact{
  color:aliceblue;
}
.cont{
    color:aliceblue;
}
.navs{
    background-color:whitesmoke;

}
.probg{
    background-color:whitesmoke;

}
.skillsbr{
        background-color:rgba(0, 0, 0, 0.197);
        border-radius: 30px;
}
.certificatebr{
      background-color:rgba(0, 0, 0, 0.197);
      border-radius: 30px;
}
p{
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@media screen and (max-width: 680px) {
    .nav{
       display: inline-block;
    }
    img{
        width:150px;
        height: 170px
    }
}